@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(assets/fonts/RobotoCondensed-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url(assets/fonts/RobotoCondensed-Bold.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: Lato, Arial, serif;
  color: #fff;
  background-color: #000;
}
*{
  box-sizing: border-box;
}
