@import url(assets/css/bootstrap-reboot.min.css);

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(assets/fonts/RobotoCondensed-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url(assets/fonts/RobotoCondensed-Bold.ttf) format('opentype');
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, Arial, serif;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}
